altgraph==0.17.5
attrs==26.1.0
Automat==25.4.16
bottle==0.13.4
bottle-websocket==0.2.9
cffi==2.0.0
chardet==7.4.3
constantly==23.10.4
cryptography==46.0.7
doxypypy==0.8.8.7
Eel==0.18.2
future==1.0.0
gevent==26.4.0
gevent-websocket==0.10.1
greenlet==3.4.0
hyperlink==21.0.0
idna==3.11
importlib_resources==7.1.0
Incremental==24.11.0
iniconfig==2.3.0
packaging==26.1
pluggy==1.6.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pyOpenSSL==26.0.0
pyparsing==3.3.2
pytest==9.0.3
python-gnupg==0.5.6
service-identity==24.2.0
setuptools==82.0.1
Twisted==25.5.0
typing_extensions==4.15.0
zope.event==6.1
zope.interface==8.3
